//Colors
$light_color: white;
$dark_color: black;


//brand colors
$red: #921A0F;
$pink: #CA6471;
$green: #267e67;
$orange: #D9B919;
$blue: #1A2E6F;
$grey: #626262;


// Font family
$font-family-text:'Roboto', sans-serif; 
$font-family-display: 'Arapey', serif;


